@import url('https://fonts.googleapis.com/css?family=Raleway');

$title-font: 'Raleway', sans-serif;

.main-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;

    background-size: 100%;
    &.Rainbow {background-image: url('../images/backgrounds/Rainbow.jpg')}
    &.Clear {background-image: url('../images/backgrounds/Clear.jpg')}
    &.Clouds {background-image: url('../images/backgrounds/Clouds.jpg')}
    &.Rain {background-image: url('../images/backgrounds/Rain.jpg')}

    h1 {
        font-family: $title-font;
        font-weight: bold;
    }

    p {
        font-family: $title-font;
    }

    .title {
        text-align: center;
        font-size: 3.5em;
        color: #fff;
        margin: 15px 0px 5px 0px;
    }

    // ----- BODY -----
    .white-container {
        align-items: center;
        width: 75%;
        // height: 75%;
        max-width: 730px;
        margin: 0px 15px 15px 15px;
        background-color: rgba(255, 255, 255, .9); /* FF3.6-15 */
        border-radius: 10px;

        // ----- RESULTS -----
        .city-title {
            text-align: center;
        }

        .results-container {
            display: flex;
            flex-direction: row;
            width: 100%;

            // Hour Forecast
            .weather-forecast {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 8px;

                .date {
                    text-align: center;
                    font-style: italic;
                    font-size: 1.5em;
                }
                .weather-img {
                    margin: 10px 0px 10px 0px;
                }
                .weather-description {
                    font-weight: bold;
                    font-size: 1.3em;
                }
                .temperature {
                    font-weight: bold;
                }
            }
        }

        // ----- ADVICE  -----
        .advice-container {
            text-align: center;
            margin: 20px;

            .advice-text {
                font-size: 1.6em;
            }
        }

        // ----- SEARCH -----
        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0px 20px 0px;
            width: 100%;

            .zip-title {
                font-size: 1.5em;
            }
            .zip-input {
                max-width: 200px;
            }
            .zip-btn {
                max-width: 100px;
                margin: 5px;
            }
        }

    }

}